@model LeaveApp.Models.LeaveApplication
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apply for Leave</h2>
@using (Html.BeginForm())
{
    <label>Reason</label>
    @Html.TextBoxFor(m => m.Reason)
    <br />
    <label>From Date</label>
    @Html.TextBoxFor(m => m.FromDate, new { type = "date" })
    <br />
    <label>To Date</label>
    @Html.TextBoxFor(m => m.ToDate, new { type = "date" })
    <br />
    <input type="submit" value="Submit" />
}
